body{

font-family: Arial;
margin:0;
background:#0b0f19;
color:white;

}


header{

display:flex;
justify-content:space-between;
padding:20px;
background:#111827;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}


.hero{

text-align:center;
padding:100px 20px;
background:linear-gradient(135deg,#00c6ff,#0072ff);

}

.btn{

background:#00ff88;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
color:black;
font-weight:bold;

}


.images{

display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;

}

.images img{

width:300px;
border-radius:10px;

}


.cards{

display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;

}


.card{

background:#111827;
padding:25px;
border-radius:10px;
width:250px;

}


ul{

text-align:center;
list-style:none;

}

ul li{

padding:8px;

}


.price{

text-align:center;
padding:80px;

}


footer{

text-align:center;
padding:30px;
background:#111827;

}
